// globals.scss
@use '../../shared/styles/tokens.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Базовые стили */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  background: var(--color-bg);
  /* Плавные переходы */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

a {
  color: var(--color-link);
  transition: color 0.3s ease;
}
