.card {
  margin: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &Button {
    width: 100%;
  }

  &Title {
    color: var(--color-primary);
    font-weight: 500;
    width: 100%;
    text-align: center;
  }

  &Subtitle {
    color: var(--color-text-secondary);
    width: 100%;
    text-align: center;
  }
}
