.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.inputGroup {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        height: 50px;
        border-radius: 14px;
        padding: 0 44px 0 16px;

        background: var(--color-surface);
        color: var(--color-text-primary);

        border: 1.5px solid var(--color-primary);
        outline: none;

        font-size: 14px;

        transition:
            background 0.25s ease,
            color 0.25s ease,
            border-color 0.25s ease,
            box-shadow 0.25s ease;
    }

    button {
        position: absolute;
        right: 12px;
        background: none;
        border: none;
        cursor: pointer;
    }
}