.nav {
  width: 360px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px; 
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.navButton {
  border: none;
  background: none;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  gap: 4px; 

}

.navLabel {
  margin: 0; 
  padding: 0;
  line-height: 1.2;
  text-align: center;

}