.nav {
  width: 360px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.navButton {
  border: none;
  background: none;
  margin: 8px 0;
  width: 115px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  gap: 4px;
}

.navLabel {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-align: center;
}
