.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 80%;
}

.title {
  color: var(--color-primary);
  font-weight: 500;
}

.subtitle {
  color: var(--color-text-secondary);
}
