/* СВЕТЛАЯ ТЕМА (по умолчанию) */
:root {
  /* Цвета */
  --color-primary: #007bff;
  --color-bg: #ffffff;
  --color-bg-dark: #1f1d1d;
  --color-text-primary: #2d2d2d;
  --color-text-secondary: #64748b;
  --color-link: #449eff;
  --color-surface: #f3f4f6;

  /* Типографика */
  --font-family-base:
    'Roboto', system-ui, -apple-system, 'Segoe UI', Arial, sans-serif;

  /* Размеры */
  --fs-h1: 45px;
  --fs-h2: 40px;
  --fs-h3: 26px;
  --fs-h4: 20px;
  --fs-body: 16px;
  --fs-body-sm: 14px;
  --fs-caption: 12px;

  --lh-tight: 1.15;
  --lh-normal: 1.4;
}

/* ТЁМНАЯ ТЕМА (только переопределение цветов) */
[data-theme='dark'] {
  /* Цвета */
  --color-primary: #66ccff;
  --color-bg: #1f1d1d;
  --color-bg-dark: #1a1a1a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #999999;
  --color-link: #66ccff;
  --color-surface: #2a2a2a;
}