:root {
  /* Цвета */
  --color-primary: #007BFF;
  --color-bg: #FFFFFF;

  --color-text-primary: #2D2D2D;
  --color-text-secondary: #2D2D2D; /* по макету одинаковый */
  --color-link: #449EFF;

  /* Типографика */
  --font-family-base: "Roboto", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;

  /* Размеры (можно подогнать позже под макет) */
  --fs-h1: 45px;
  --fs-h2: 40px;
  --fs-h3: 26px;
  --fs-h4: 20px;
  --fs-body: 16px;
  --fs-body-sm: 14px;
  --fs-caption: 12px;

  --lh-tight: 1.15;
  --lh-normal: 1.4;
}
