/* СВЕТЛАЯ ТЕМА (по умолчанию) */
:root {
  /* Цвета */
  --color-primary: #007bff;
  --color-bg: #ffffff;
  --color-bg-dark: #1f1d1d;

  --color-text-primary: #2d2d2d;
  --color-text-secondary: #2d2d2d; /* по макету одинаковый */
  --color-link: #449eff;

  --font-family-base:
    'Roboto', system-ui, -apple-system, 'Segoe UI', Arial, sans-serif;

  --fs-h1: 45px;
  --fs-h2: 40px;
  --fs-h3: 26px;
  --fs-h4: 20px;
  --fs-body: 16px;
  --fs-body-sm: 14px;
  --fs-caption: 12px;

  --lh-tight: 1.15;
  --lh-normal: 1.4;
}

/* ТЁМНАЯ ТЕМА */
[data-theme='dark'] {
  /* Цвета */
  --color-primary: #66ccff;
  --color-bg: #1f1d1d;
  --color-bg-dark: #1f1d1d;

  --color-text-primary: #ffffff;
  --color-text-secondary: #cccccc;
  --color-link: #66ccff;

  /* Типографика (остаётся та же) */
  --font-family-base:
    'Roboto', system-ui, -apple-system, 'Segoe UI', Arial, sans-serif;

  --fs-h1: 45px;
  --fs-h2: 40px;
  --fs-h3: 26px;
  --fs-h4: 20px;
  --fs-body: 16px;
  --fs-body-sm: 14px;
  --fs-caption: 12px;

  --lh-tight: 1.15;
  --lh-normal: 1.4;
}
