.settingsCard {
  margin: 20px;
  padding: 10px 0;

  &Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    color: var(--color-text-secondary);
  }
}

// :root:first-child {}

.light,
.dark {
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
}

.additionalButton {
  flex: 1;
  /* 🔥 ключевой момент */
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px;
}

.errorAndInfoButtons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.supportText {
  display: flex;
  justify-content: center;
  font-size: var(--fs-caption);
  color: var(--color-text-secondary);
}

.supportButton {
  margin-top: auto;
  /* 🔥 магия */
  display: flex;
  flex-direction: column;
  gap: 10px;
}