.settingsCard {
  margin: 20px;
  padding: 10px 0;

  &Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;

    color: var(--color-text-secondary);
    height: 30px;
  }

  &Title {
    font-size: 14px;
    margin: -10px 0 -15px 0;
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);

    justify-content: center;
  }
}

.personData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;

  p {
    &:first-child {
      color: var(--color-text-secondary);
    }
  }
}

.showPasswordButton {
  background: none;
  border: none;
  color: var(--color-primary, #007aff);

  cursor: pointer;

  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-hover, rgba(0, 122, 255, 0.1));
  }

  &:active {
    background-color: var(--color-active, rgba(0, 122, 255, 0.2));
  }
}

.passwordWrapper {
  display: flex;
  align-items: center;
}

.light,
.dark {
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
}

.additionalButton {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px;
}

.errorAndInfoButtons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.supportText {
  display: flex;
  justify-content: center;
  font-size: var(--fs-caption);
  color: var(--color-text-secondary);
  margin-top: 10px;

  &ChangePassword {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-decoration: underline;
    color: var(--color-primary);
    margin: -10px 0 20px 0;
  }
}

.supportButton {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
