.header {
  margin-left: 20px;
  height: 40px;
  margin-top: 20px;
  display: flex;

  align-items: center;

  &Title {
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;

    height: 24px;
  }

  &BackButton {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: var(--color-text-secondary);
  }
}

.dark {
  .header {
    &Title {
      color: var(--color-primary);
    }
    &BackButton {
      color: var(--color-primary);
    }
  }
}
