.parkingSpaces{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 310px;
    margin-top: 15px;
    &Count{
      border: 1px black solid;
      border-radius: 15px;
      width: 78px;
      height: 33px;
      display: flex; 
      align-items: center; 
      justify-content: center;
      font-size: 20px;
      font-family: "Roboto";
    }
  }