.favorites{

  &List{
    display: flex;
    flex-direction: column;
    align-items: center; 
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    width: 100%;

  }

  &Item{
    border: 3px solid #007BFF;
    border-radius: 15px;
    width: 350px;
    height: 209px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
  }

  &Info{
    margin-bottom: 10px;;
  }
  &Address{
    margin-top: 15px;
  }
}